.half-container {
    display: inline-block;
    width: 49%;
    height: 95vh;
}

.login-container {
    padding: 75px 60px;
}

.image-container {
    vertical-align: top;
}

.login-img {
    min-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.form-group > * {
    margin-bottom: 10px;
}

.indiv-container {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

#platform-container > * {
    display: inline-block;
}

.platform {
    background-color: #E1EDF4;
    padding: 1px 5px;
    margin: 3px;
    cursor: pointer;
}

.indiv-watchlist-container {
    margin-left: 200px;
    margin-top: 5px;
}

.comments-container {
    display: inline-block;
    width: 45%;
    vertical-align: top;
}

.clear-button {
    border-color: black;
}

.active {
    background-color: #00000000;
}
